  <div class="col-6 col-md-2">
    <turbo-frame id="jersey_<%= jersey.id %>">
      <div class="card shadow-sm rounded-4 h-100 d-flex flex-column">
        <% if jersey.image.attached? %>
          <%= image_tag url_for(jersey.image), class: "card-img-top img-fluid", alt: jersey.name, style: "height: 300px; object-fit: cover;" %>
        <% else %>
          <%= image_tag "default_jersey.jpg", class: "card-img-top img-fluid", alt: "Image par défaut", style: "height: 300px; object-fit: cover;" %>
        <% end %>

        <div class="card-body d-flex flex-column flex-grow-1">
          <!-- Nom + équipe -->
          <h6 class="fw-bold text-uppercase mb-1">
            <%= jersey.team&.name || "Équipe inconnue" %> <%= jersey.year %>
          </h6>
          <p class="mb-1"><%= jersey.name %></p>

          <!-- Infos maillot -->
          <p class="small mb-1">Taille : <%= jersey.size %></p>
          <p class="small mb-1">Année : <%= jersey.year %></p>
          <p class="small mb-1">Flocage : <%= jersey.flocking %></p>

          <!-- Profil utilisateur -->
          <%= link_to user_path(jersey.user), class: "d-flex align-items-center mt-auto text-decoration-none text-dark", data: { turbo_frame: "_top" } do %>
          <%= image_tag(jersey.user.avatar.attached? ? url_for(jersey.user.avatar) : "default-avatar.jpg", class: "avatar-bordered me-2") %>
          <p class="small mb-0 fw-semibold"><%= jersey.user.nom %></p>
          <% end %>

          <!-- Bouton -->
          <div class="text-end mt-3">
            <%= link_to "Voir le maillot", jersey_path(jersey), class: "btn btn-outline-primary btn-sm w-100", data: { turbo_frame: "_top" } %>
          </div>

        </div>

      </div>
    </turbo-frame>
  </div>
